<html>

<head>
    <title> new Project</title>
    <link rel="stylesheet" href="CSS/style.css" />
</head>

<body>

    <h1 class="headerTitle"> {{title}} Page </h1>

    <div class="header">
        <a href="/">Home</a>
        <a href="/service">Service</a>
        <a href="/teams">Teams</a>
    </div>

</body>

</html>